/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@charset "utf-8";


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	letter-spacing: -1px;
	word-break: keep-all;
	vertical-align: baseline;
    text-decoration: none;
	font-style:normal; font-weight:normal;
	
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section,address,caption,cite,code,dfn,em,var {
	display: block;
}
body {
	line-height: 1.5;
	font-size: 14px; font-weight: normal;
}
body ::-moz-selection {background: #F2C551;  color: #fff}
body ::selection {background: #F2C551;color: #fff}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{max-width: 100%;}
a{color: #333;}



input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {height: auto;}
input[type="file"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden;clip: rect(0, 0, 0, 0);border: 0;}
input[type="radio"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden;clip: rect(0, 0, 0, 0);border: 0;}
input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"],
input[type="search"],
textarea { -webkit-border-radius : 0; -webkit-appearance : none;}
input::-webkit-textfield-decoration-container {-webkit-appearance: none;}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {-webkit-appearance: none; display : none;}


button[type="button"], [type="reset"], [type="submit"] {  -webkit-appearance: button;}




/* 파이어폭스에서의 초기화 */
input { -moz-appearance: textfield; -webkit-text-size-adjust:none; -webkit-appearance: none; -webkit-border-radius: 0;}
input:focus,extarea:focus {-webkit-text-size-adjust: 100%;}

select{appearance: none;-webkit-appearance: none;-moz-appearance: none;}
select::-ms-expand{ display: none; }
select:active,
select:focus{outline: 0 none;}



/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
input::-ms-clear,
input::-ms-reveal { display: none; width : 0; height : 0;}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {display : none;}

/* input type number 에서 화살표 제거 */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {-webkit-appearance: none; -moz-appearance: none; appearance: none;}

/* Select box 스타일 초기화 */ 
select {-webkit-appearance: none; -moz-appearance: none; appearance: none;}

/* IE 에서 Select box 화살표 제거 */ 
select::-ms-expand { display: none; }


input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {-webkit-appearance: none; -moz-appearance: none; appearance: none;}

input[type='number'] {-moz-appearance: textfield;}
